.elilrid {
    background-color: #f8f8f8;
}

.navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    width: 160px;
    text-align: center;
    background-color: transparent;
}

.navbar > .container .navbar-brand-centered,
.navbar > .container-fluid .navbar-brand-centered {
    margin-left: -80px;
}

.navbar-default {
    background-color: #708090;
    /* border-color: #708090; */
}
  
.navbar {
    border-radius: 0px;
    border: 0px solid transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #f8f8f8;
}

.navbar-default .navbar-brand {
    color: #f8f8f8;
}
